* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --icons-color: white;
    --bg-nav-color: rgb(5, 15, 25);
    --hover-bg_logo-color: rgba(0, 0, 0, 0.2)
}

/* Setting appearance of navbar */

#navbar {
    position: fixed;
    width: 170px;
    height: 100vh;
    background-color: var(--bg-nav-color);
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    color: var(--icons-color);
    overflow: hidden;
}

#nav-title {
    position: absolute;
    background-color: var(--hover-bg_logo-color);
    width: 100%;
    height: 70px;
    top: 2%;
}

.fa-location-arrow {
    position: absolute;
    top: 20%;
    right: 10%;
    font-size: 2.5rem;
    color: var(--icons-color);
    transition-duration: 1s;
}

#navbar:hover {
    width: 320px;
}

#navbar:hover .fa-solid {
    transform: rotateY(180deg);
    animation-name: color;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

#navbar:hover #logo {
    left: 50%;
    transform: translate(-70%);
}

#logo {
    position: absolute;
    color: var(--icons-color);
    font-size: 2rem;
    left: 8%;
    top: 15%;
    font-family: "Open Sans", sans-serif;
    transition-duration: 0.7s;
    transition-delay: 0ms;
}

/* setting appearance of icons in list*/

#list {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 2.2rem;
    list-style: none;
    padding-block: 10px;
}

.fa-gamepad {
    margin-left: -5px;
} 

.fa-circle-dollar-to-slot {
    margin-left: -2px;
}

/* text displayed after hover */

#navbar:hover .fa-home::after, #navbar:hover .fa-gift::after, #navbar:hover .fa-gamepad::after, #navbar:hover .fa-circle-dollar-to-slot::after {
    position: relative;
    margin-left: 50px;
    font-family: Arial, sans-serif;
    font-size: 2rem;
    animation-name: content-appear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition: 1s;
}

#navbar:hover .fa-home::after {
    content: "home";
}

#navbar:hover .fa-gift::after {
    content: "product"
}

#navbar:hover .fa-gamepad::after {
    margin-left: 42px;
    content: "options";
    top: -4px;
}

#navbar:hover .fa-circle-dollar-to-slot::after {
    content: "prices";
    top: -5px;
}

#list li {
    position: relative;
    margin-left: -64.6px;
    width: 344.5px;
    padding-left: 90px;
    height: 100px;
    vertical-align: middle;
    padding-top: 30px;
}

#list li:nth-of-type(3) {
    padding-top: 32px;
}


#list li:hover {
    background-color: var(--hover-bg_logo-color);
    cursor: pointer;
}


#list li:hover .fas {
    color:rgb(120, 0, 255);
    transition-duration: 1s;
}

/*--------------------------*/

@keyframes color {
    0% {
        color: var(--icons-color);
    }

    100% {
        color: rgb(140, 0, 207);
    }
}

@keyframes content-appear {
    0% {
        color: var(--bg-nav-color)
    }

    100% {
        color: white;
    }
}